<body style="background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('/assets/Images/AdobeStock_330967741-scaled.jpeg'); opacity: .8; background-position: center top; background-attachment: fixed; height: 100vh;">
  <div style="display: grid; grid-template-columns: 1fr 2fr 1fr; grid-template-rows: 1fr 1fr 1fr; padding-top: 10rem">

    <div style="text-align: center; font-size: 4rem; font-weight: 700; color: black; grid-column: 2; grid-row: 1">Disinfect<br />and<br />Protect</div>


    <div style="text-align: center; font-size: 2rem; font-weight: 700; grid-column: 2; grid-row: 2; align-self: center">At Bio-Safe Environment, we strive to offer the safest and most effective, as well as cost effective services for disinfection and protecting your home and place of employment</div>
    <div style="grid-column: 2; grid-row: 3; height: 3rem; text-align: center ">
      <button class="main-btn">View Our Work</button>
    </div>



  </div>

</body>
