/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.main-btn {
  border-radius: 50px;
  background-color: darkred;
  color: white;
  border-color: white;
  border-width: thick;
  font-size: 2rem;
  font-weight: bold;
  width: 30%;
}

  .main-btn:hover {
    background-color: grey;
  }
